/*
 *@autor Jérémie samson
 *@version 1
 *
 *Sites
 *http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/ (design tableau)
 */

/**********************************************************************************************************************
 ******************************************************* HEADER *******************************************************
 **********************************************************************************************************************/
header{ 
	text-align: center; 
	margin-top: 0px;
	margin-bottom: 25px;	
}



/**********************************************************************************************************************
 ******************************************************** BODY ********************************************************
 **********************************************************************************************************************/

/* LIGNES CORRESPONDANT AU STYLE DU BODY EN GENERAL */
body{
	background-image: url("../img/fond.png");
	margin-left: 50px;
	margin-right: 50px;
}
.message_error{ color: #FF6469; }
.message_info{ color: #049f42 }
.ligne_impair { background-color: #72e3b3; }
.ligne_pair { background-color: #72e3b3; }
#bouttonDate { height: 30px; }


/* LIGNE CORRESPONDANT AUX STYLE DE LA PAGE DE LA LISTE DES DONNEES */
/* Tableau de variable */
#tabVariablesHeader { 
	font-weight : bold;
	width: 50px; 
}

/* Formulaire */
#variables { margin-top: 25px; }
#selecteur { margin-top: 15px; }
#datetimes { 
	margin-top: 15px; 
	margin-bottom: 25px;
}

/* Tableau list_data */
#actions { margin-top: 25px; }
.icon{
	width: 15px;
	height: 15px;
}
#tabListData { margin-top: 15px; }
.tabListDataCells {
	text-align: center;
	background-color: rgba(121,191,255,0.66);
}
.tabListDataCells:hover { background-color: #588cfc; }
.tabListDataCellsAnnee{ background-color: #588cfc; }
.tabListDataMoy {
	text-align: center;
	background-color: #ffac42;
}

#tabListDataHeader{ background-image: url("../img/gradhead.png"); }


/* LIGNES CORRESPONDANT A LA PAGE DES INTERVENTION (ajout / Liste) */
#formInterventions{
	text-align: center;
}
#intervenant{ margin-top: 15px; }
#datetime_title{ margin-top: 15px; }
.observationBlock{ 
	margin-top: 15px; 
	margin-bottom: 25px;
}

#observation{
	border:solid 1px black; 
	font-family:tahoma; 
	text-align:left;
}

#intervention{
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}

/*#back{
	margin-left: 0px;
	float: left;
}
#next{
	margin-right: 0px;
	float: right;
}*/

#selectDatetime{
	width: auto;
}


/* LIGNES CORRESPONDANT A LA PAGE DES PLANIFICATIONS */
#formPlanificateur{
	text-align: center;	
}

/**********************************************************************************************************************
 ******************************************************** NAV *********************************************************
 **********************************************************************************************************************/
nav{
 text-align: center;
}

ul#menu_horizontal li { 
	display : inline;
	padding : 0 0.5em; /* Pour espacer les boutons entre eux */
}
ul#menu_horizontal {
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
}

 

/**********************************************************************************************************************
 ******************************************************* FOOTER *******************************************************
 **********************************************************************************************************************/
 footer { 
 	text-align: center; 
 	margin-top: 25px;
 }