/*
 *@autor Jérémie samson
 *@version 1
 *
 *Sites
 *http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/ (design tableau)
 */

/**********************************************************************************************************************
 ******************************************************* HEADER *******************************************************
 **********************************************************************************************************************/
header{ text-align: center; }



/**********************************************************************************************************************
 ******************************************************** BODY ********************************************************
 **********************************************************************************************************************/
/* Couleur des messages d'erreur*/
font{ color: #FF6469; }


/* Tableau de variable */
#tabVariablesHeader { 
	font-weight : bold;
	width: 50px; 
}
#ligne_impair { background-color: #c9dfff; }
#ligne_pair { background-color: #7db9ff; }
#tabVariables {}


/* DateTime Picker */
#bouttonDate { height: 30px; }


/* Tableau list_data */
body{}
#corp{
	margin-top: 50px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 50px;
}
#list{}
.tabListDataCellsAnnee{
	background-color: #588cfc;
}
#tabListData {}
#tabListDataCells {
	text-align: center;
	background-color: rgba(121,191,255,0.66);
}
#tabListDataMoy {
	text-align: center;
	background-color: #ffac42;
}
#tabListDataCells:hover { background-color: #588cfc; }

#tabListDataHeader{ background-image: url("../img/gradhead.png"); }




/**********************************************************************************************************************
 ******************************************************* FOOTER *******************************************************
 **********************************************************************************************************************/
 footer { 
 	text-align: center; 
 }